body {
background-image: url('background.jpg');
}

h1 {
  text-align: center;
  border: 5px tan solid;
  box-shadow: 10px 5px 5px rgba(210, 140, 140, 0.5);
  background-color: lightyellow;
  width: 90%;
  margin: auto;
}

.videoButton {
  display: inline-block;
  border: 1px brown solid;
  border-radius: 3px;
  background: linear-gradient(lightyellow, tan);
  width: 150px;
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
  text-decoration: none;
}

.paragraph, #output, li{
  padding-left: 5%;
  padding-right: 5%;
  font-size: 20px;
  font-family: sans-serif;
  list-style-type: none;
}


#main {
  margin: auto;
  width: 60%;
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
  border: 5px tan solid;
  box-shadow: 10px 5px 5px rgba(210, 140, 140, 0.5);
  background: radial-gradient(rgba(255, 255, 224, 0.9) 95%, rgba(255, 200, 200, 0.4) 5%);
}

#yellow-video {
  margin: 20px auto 50px auto;
  border: 1px black solid;
  width: 50%;
  height: 360px;
  color: tan;
}

#yellow-video .vjs-big-play-button {
  width: 5em;
  left: 50%;
  top: 70%;
  margin-left: -2.5em;
  background: linear-gradient(lightyellow, tan);
  border: 3px yellow solid;
  color: black;
  font-size: 5em;
  text-align: center;
}
